*.pyc
*.swp
*~
~*
*.bak
*.swo
*.log
.project
.settings/
.settings
*.tar.gz
.project
.classpath
target
data
*.sql
*.jdbc
*.tmp
*.suo
*.csproj.user 
*.cpd 
*.pss 
*.hhp 
*.ldb
*bowerrc
*.bin
.DS_Store
_site/*
_theme_packages/*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc
